*.jpg
*.jpeg
*.png

cifar10/
experiments/*
!experiments/train0/*
metrics/

dvc_storage/

__pycache__/
*.pyc
src/__pycache__/
src/*.pyc
.ruff_cache
.mypy_cache
!dataset_registry.csv
/cifar10
/dataset_registry.csv
/experiments
